*{
}

body{
	display: flex;
	background-color: #EEEEEE;
	height: 100%;
	width: 100%;
	margin: 0;
}

nav{
	width: 10em;
	height: 100vh;
	background-color: #222222;
	color: #DDDDDD;
}

th,td{
	text-align: left;
	padding-left: 50px;
}

ul {
	list-style: none;
	padding-left: 20px;
}

a:link, a:visited {
	color: #DDDDDD;
	text-align: center;
  	text-decoration: none;
  	display: inline-block;
}

a:hover, a:active {
}

button {
	width: 100%;
	background-color: #333333; /* Green */
  	border: none;
	color: #DDDDDD;
  	text-align: left;
  	text-decoration: none;
  	display: inline-block;
}

.page-icon {
	height: 1em;
	text-align: center;
	padding: 8px;
}

div.content-container {
	flex: 1;
	display: flex;
	flex-direction: column;
}

header {
	background-color: #888888;
	height: 2em;
}

section {
	flex: 1;
	margin: 15px;
}

footer {
	height: 2em;
}
